*{
    margin: 0;
    padding: 0;
}

main{
    height: 200px;
    width: 400px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

section{
    display: inline-block;
}

nav{
    border-left: 1px dashed red;
    border-bottom: 2px solid blue;
    padding: 5px;
}